# Example environment variables for Foodify development

# =======================================
# PostgreSQL connection string
# =======================================
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/foodify"

# =======================================
# NextAuth configuration
# =======================================
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"

# =======================================
# 📧 Resend (Emails)
# =======================================
RESEND_API_KEY=
# Sender address verified in Resend. Example:
RESEND_FROM="Foodify <no-reply@mooock.com>"
RESEND_DOMAIN="mooock.com"


# =======================================
# ☁️ Cloudinary
# =======================================
CLOUDINARY_CLOUD_NAME=dupsrqkl8
CLOUDINARY_API_KEY=722962554214187
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dupsrqkl8
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=foodify_upload
